/Data/*
/Cache/*
/Logs/*
/Particles/*
/Screenshots/*
/Logs/Account/*
/Logs/SavedVariables/*

.build.info
.patch.result
.product.db
Launcher.db
WoW.mfil
World of Warcraft Launcher.app/Contents/Info.plist
World of Warcraft Launcher.app/Contents/PkgInfo
World of Warcraft Launcher.app/Contents/_CodeSignature/CodeResources
World of Warcraft Launcher.app/Contents/MacOS/World of Warcraft Launcher
World of Warcraft Launcher.app/Contents/Resources/bg_language_select.png
World of Warcraft Launcher.app/Contents/Resources/bg_small_window.png
World of Warcraft Launcher.app/Contents/Resources/BlizzardReg.ttf
World of Warcraft Launcher.app/Contents/Resources/btn_long_disabled.png
World of Warcraft Launcher.app/Contents/Resources/btn_long_down.png
World of Warcraft Launcher.app/Contents/Resources/btn_long_normal.png
World of Warcraft Launcher.app/Contents/Resources/btn_long_over.png
World of Warcraft Launcher.app/Contents/Resources/btn_mac_disabled.png
World of Warcraft Launcher.app/Contents/Resources/btn_mac_red_hover.png
World of Warcraft Launcher.app/Contents/Resources/btn_mac_red_normal.png
World of Warcraft Launcher.app/Contents/Resources/btn_mac_red_pressed.png
World of Warcraft Launcher.app/Contents/Resources/btn_mac_yellow_hover.png
World of Warcraft Launcher.app/Contents/Resources/btn_mac_yellow_normal.png
World of Warcraft Launcher.app/Contents/Resources/btn_mac_yellow_pressed.png
World of Warcraft Launcher.app/Contents/Resources/btn_small_disabled.png
World of Warcraft Launcher.app/Contents/Resources/btn_small_down.png
World of Warcraft Launcher.app/Contents/Resources/btn_small_normal.png
World of Warcraft Launcher.app/Contents/Resources/btn_small_over.png
World of Warcraft Launcher.app/Contents/Resources/img_deny.png
World of Warcraft Launcher.app/Contents/Resources/img_error_shade.png
World of Warcraft Launcher.app/Contents/Resources/img_line_h.png
World of Warcraft Launcher.app/Contents/Resources/img_link.png
World of Warcraft Launcher.app/Contents/Resources/MainMenu.nib
World of Warcraft Launcher.app/Contents/Resources/progressbar_large_empty.png
World of Warcraft Launcher.app/Contents/Resources/progressbar_large_full.png
World of Warcraft Launcher.app/Contents/Resources/progressbar_lead.png
World of Warcraft Launcher.app/Contents/Resources/progressbar_small_empty.png
World of Warcraft Launcher.app/Contents/Resources/progressbar_small_full.png
World of Warcraft Launcher.app/Contents/Resources/radiobutton_bg.png
World of Warcraft Launcher.app/Contents/Resources/radiobutton_selection.png
World of Warcraft Launcher.app/Contents/Resources/screen.bootstrap.json
World of Warcraft Launcher.app/Contents/Resources/screen.error.json
World of Warcraft Launcher.app/Contents/Resources/screen.install.json
World of Warcraft Launcher.app/Contents/Resources/screen.language.json
World of Warcraft Launcher.app/Contents/Resources/screen.splash.json
World of Warcraft Launcher.app/Contents/Resources/Settings.json
World of Warcraft Launcher.app/Contents/Resources/Strings.bin
World of Warcraft Launcher.app/Contents/Resources/wow_background.png
World of Warcraft Launcher.app/Contents/Resources/wow_icon.icns
World of Warcraft.app/Contents/Info.plist
World of Warcraft.app/Contents/PkgInfo
World of Warcraft.app/Contents/_CodeSignature/CodeResources
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/Info.plist
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/PkgInfo
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/_CodeSignature/CodeResources
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/MacOS/Blizzard Error
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/Resources/Application.nib
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/Resources/ApplicationMenu.nib
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/Resources/Bug.icns
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/Resources/BugDialog.nib
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/Resources/ExternalDialog.nib
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/Resources/MessageDialog.nib
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/Resources/SuggestionDialog.nib
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/Resources/TaskDialog.nib
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/Resources/Warning.icns
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/Resources/de.lproj/BlizzardError.strings
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/Resources/de.lproj/InfoPlist.strings
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/Resources/en.lproj/BlizzardError.strings
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/Resources/en.lproj/InfoPlist.strings
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/Resources/es-419.lproj/BlizzardError.strings
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/Resources/es-419.lproj/InfoPlist.strings
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/Resources/es.lproj/BlizzardError.strings
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/Resources/es.lproj/InfoPlist.strings
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/Resources/fr.lproj/BlizzardError.strings
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/Resources/fr.lproj/InfoPlist.strings
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/Resources/it.lproj/BlizzardError.strings
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/Resources/it.lproj/InfoPlist.strings
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/Resources/ko.lproj/BlizzardError.strings
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/Resources/ko.lproj/InfoPlist.strings
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/Resources/pl.lproj/BlizzardError.strings
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/Resources/pl.lproj/InfoPlist.strings
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/Resources/pt-BR.lproj/BlizzardError.strings
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/Resources/pt-BR.lproj/InfoPlist.strings
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/Resources/ru.lproj/BlizzardError.strings
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/Resources/ru.lproj/InfoPlist.strings
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/Resources/tr.lproj/BlizzardError.strings
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/Resources/tr.lproj/InfoPlist.strings
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/Resources/zh_CN.lproj/BlizzardError.strings
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/Resources/zh_CN.lproj/InfoPlist.strings
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/Resources/zh_TW.lproj/BlizzardError.strings
World of Warcraft.app/Contents/Helpers/Blizzard Error.app/Contents/Resources/zh_TW.lproj/InfoPlist.strings
World of Warcraft.app/Contents/Helpers/WowVoiceProxy.app/Contents/Info.plist
World of Warcraft.app/Contents/Helpers/WowVoiceProxy.app/Contents/PkgInfo
World of Warcraft.app/Contents/Helpers/WowVoiceProxy.app/Contents/_CodeSignature/CodeResources
World of Warcraft.app/Contents/Helpers/WowVoiceProxy.app/Contents/MacOS/libortp.dylib
World of Warcraft.app/Contents/Helpers/WowVoiceProxy.app/Contents/MacOS/libvivoxsdk.dylib
World of Warcraft.app/Contents/Helpers/WowVoiceProxy.app/Contents/MacOS/WowVoiceProxy
World of Warcraft.app/Contents/Helpers/WowVoiceProxy.app/Contents/Resources/Icon.icns
World of Warcraft.app/Contents/MacOS/World of Warcraft
World of Warcraft.app/Contents/Resources/Application.nib
World of Warcraft.app/Contents/Resources/ApplicationMenu.nib
World of Warcraft.app/Contents/Resources/RegionPicker.nib
World of Warcraft.app/Contents/Resources/wow-test.icns
World of Warcraft.app/Contents/Resources/wow.icns
World of Warcraft.app/Contents/Resources/de.lproj/Application.strings
World of Warcraft.app/Contents/Resources/de.lproj/Startup.strings
World of Warcraft.app/Contents/Resources/en.lproj/Application.strings
World of Warcraft.app/Contents/Resources/en.lproj/Startup.strings
World of Warcraft.app/Contents/Resources/es-419.lproj/Application.strings
World of Warcraft.app/Contents/Resources/es-419.lproj/Startup.strings
World of Warcraft.app/Contents/Resources/es.lproj/Application.strings
World of Warcraft.app/Contents/Resources/es.lproj/Startup.strings
World of Warcraft.app/Contents/Resources/fr.lproj/Application.strings
World of Warcraft.app/Contents/Resources/fr.lproj/Startup.strings
World of Warcraft.app/Contents/Resources/it.lproj/Application.strings
World of Warcraft.app/Contents/Resources/it.lproj/Startup.strings
World of Warcraft.app/Contents/Resources/ja.lproj/Application.strings
World of Warcraft.app/Contents/Resources/ko.lproj/Application.strings
World of Warcraft.app/Contents/Resources/ko.lproj/Startup.strings
World of Warcraft.app/Contents/Resources/pl.lproj/Application.strings
World of Warcraft.app/Contents/Resources/pt-BR.lproj/Application.strings
World of Warcraft.app/Contents/Resources/pt-BR.lproj/Startup.strings
World of Warcraft.app/Contents/Resources/ru.lproj/Application.strings
World of Warcraft.app/Contents/Resources/ru.lproj/Startup.strings
World of Warcraft.app/Contents/Resources/tr.lproj/Application.strings
World of Warcraft.app/Contents/Resources/zh-Hans.lproj/Application.strings
World of Warcraft.app/Contents/Resources/zh-Hans.lproj/Startup.strings
World of Warcraft.app/Contents/Resources/zh-Hant.lproj/Application.strings
World of Warcraft.app/Contents/Resources/zh-Hant.lproj/Startup.strings
World of Warcraft.app/Contents/XPCServices/BrowserProxy.xpc/Contents/Info.plist
World of Warcraft.app/Contents/XPCServices/BrowserProxy.xpc/Contents/_CodeSignature/CodeResources
World of Warcraft.app/Contents/XPCServices/BrowserProxy.xpc/Contents/Frameworks/Chromium Embedded Framework.framework/Chromium Embedded Framework
World of Warcraft.app/Contents/XPCServices/BrowserProxy.xpc/Contents/Frameworks/Chromium Embedded Framework.framework/_CodeSignature/CodeResources
World of Warcraft.app/Contents/XPCServices/BrowserProxy.xpc/Contents/Frameworks/Chromium Embedded Framework.framework/Resources/cef.pak
World of Warcraft.app/Contents/XPCServices/BrowserProxy.xpc/Contents/Frameworks/Chromium Embedded Framework.framework/Resources/cef_100_percent.pak
World of Warcraft.app/Contents/XPCServices/BrowserProxy.xpc/Contents/Frameworks/Chromium Embedded Framework.framework/Resources/icudtl.dat
World of Warcraft.app/Contents/XPCServices/BrowserProxy.xpc/Contents/Frameworks/Chromium Embedded Framework.framework/Resources/Info.plist
World of Warcraft.app/Contents/XPCServices/BrowserProxy.xpc/Contents/Frameworks/Chromium Embedded Framework.framework/Resources/natives_blob.bin
World of Warcraft.app/Contents/XPCServices/BrowserProxy.xpc/Contents/Frameworks/Chromium Embedded Framework.framework/Resources/snapshot_blob.bin
World of Warcraft.app/Contents/XPCServices/BrowserProxy.xpc/Contents/Frameworks/Chromium Embedded Framework.framework/Resources/de.lproj/locale.pak
World of Warcraft.app/Contents/XPCServices/BrowserProxy.xpc/Contents/Frameworks/Chromium Embedded Framework.framework/Resources/en.lproj/locale.pak
World of Warcraft.app/Contents/XPCServices/BrowserProxy.xpc/Contents/Frameworks/Chromium Embedded Framework.framework/Resources/en_GB.lproj/locale.pak
World of Warcraft.app/Contents/XPCServices/BrowserProxy.xpc/Contents/Frameworks/Chromium Embedded Framework.framework/Resources/es.lproj/locale.pak
World of Warcraft.app/Contents/XPCServices/BrowserProxy.xpc/Contents/Frameworks/Chromium Embedded Framework.framework/Resources/es_419.lproj/locale.pak
World of Warcraft.app/Contents/XPCServices/BrowserProxy.xpc/Contents/Frameworks/Chromium Embedded Framework.framework/Resources/fr.lproj/locale.pak
World of Warcraft.app/Contents/XPCServices/BrowserProxy.xpc/Contents/Frameworks/Chromium Embedded Framework.framework/Resources/it.lproj/locale.pak
World of Warcraft.app/Contents/XPCServices/BrowserProxy.xpc/Contents/Frameworks/Chromium Embedded Framework.framework/Resources/ko.lproj/locale.pak
World of Warcraft.app/Contents/XPCServices/BrowserProxy.xpc/Contents/Frameworks/Chromium Embedded Framework.framework/Resources/pt_BR.lproj/locale.pak
World of Warcraft.app/Contents/XPCServices/BrowserProxy.xpc/Contents/Frameworks/Chromium Embedded Framework.framework/Resources/ru.lproj/locale.pak
World of Warcraft.app/Contents/XPCServices/BrowserProxy.xpc/Contents/Frameworks/Chromium Embedded Framework.framework/Resources/zh_CN.lproj/locale.pak
World of Warcraft.app/Contents/XPCServices/BrowserProxy.xpc/Contents/Frameworks/Chromium Embedded Framework.framework/Resources/zh_TW.lproj/locale.pak
World of Warcraft.app/Contents/XPCServices/BrowserProxy.xpc/Contents/MacOS/BrowserProxy
WTF/Config.wtf
WTF/SavedVariables/*
WTF/Account/*
HK-WOW插件管理器/*
Utils/*
lang.xml
db.xml
DBFilesClient/SpellVisual.db2
